@tailwind base;

/* Custom base styles  */
@layer base {
  p {
    @apply mb-4;
  }
}


/* Start purging... */
@tailwind components;
/* Stop purging. */

p,ol,ul,li {
  color: #111111;
}

footer,nav>ul>li {
  color: #696969;
}

h1,h2,h3,h4,h5,h6 {
  color: black;
}

.list-lower-alpha {
  list-style-type: lower-alpha;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
